.heading {
    font-family: 'helvetica', Arial, sans-serif;
    color: rgb(255, 227, 15);
    font-style: italic;
    text-align: center;
}

#page {
    background-color: rgb(233, 113, 244);
}

.nav {
    font-weight: regular;
    background: rgb(192, 255, 205);
    text-align: center;
    font-size: small;
}

.list {
    font-style: italic;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 227, 15);
    font-family: 'Times New Roman', Times, serif;
   
}

.para {
    background-color: rgb(252, 205, 213);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}


.sub {
    font-family: 'helvetica', Arial, sans-serif;
    color: rgb(255, 227, 15);
    font-style: italic;
    text-align: center;
}
